.center {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 24px 32px;
  box-sizing: border-box;

  .center__title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
  }

  .center__desc {
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 500;
  }

  .center__select-meters {
    margin-bottom: 24px;

    label {
      display: inline-block;
      font-size: 12px;
      line-height: 1.5;
      color: #5c5e62;
      cursor: pointer;

      select {
        position: relative;
        outline: none;
        background-color: transparent;
        display: block;
        width: 160px;
        height: 38px;
        padding: 4px 10px;
        margin-top: 6px;
        box-sizing: border-box;
        border: solid 1px #dee1e5;
        border-radius: 6px;
        background-image: url("../../public/img/arrow-down.svg");
        background-size: 16px;
        background-position: 92% 50%;
        background-repeat: no-repeat;
        cursor: pointer;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        font-size: 12px;
        font-weight: 500;
        line-height: 1.5;
        color: #253858;

        &:hover,
        &:focus {
          border: solid 1px #000;
        }
      }
    }
  }

  .center__form {
    .form__data {
      position: relative;
      padding-bottom: 23px;
      box-sizing: border-box;

      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: -16px;
        right: -16px;
        height: 1px;
        background-color: #bbc1cc;
      }

      .data__wrapper {
        display: flex;
        margin: -12px;
      }

      .data__item {
        display: flex;
        flex-direction: column;
        padding: 12px;

        label {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          line-height: 1.5;
          color: #5c5e62;
        }

        span {
          margin-bottom: 6px;
        }

        input {
          padding: 4px 16px;
          box-sizing: border-box;
          width: 160px;
          height: 38px;
          border-radius: 6px;
          border: solid 1px #dee1e5;
          outline: none;

          &:hover,
          &:focus {
            border: solid 1px #000;
          }
        }

        .error {
          border-color: red;
        }

        &.data__payment {
          input {
            width: 185px;
          }
        }
      }
    }

    .form__summary {
      display: flex;
      flex-direction: column;
      padding-top: 22px;
    }

    .form__summary-title {
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
    }

    .form__summary-list {
      list-style: none;

      .list__item {
        display: flex;
        width: 190px;

        &:not(:last-child) {
          margin-bottom: 14px;
        }

        & > p {
          font-size: 14px;
          font-weight: 500;
          color: #253858;
          line-height: 1.43;
        }

        .price {
          margin-left: 11px;
          color: #253858;
          line-height: 1.25;

          b {
            margin-left: 5px;
          }
        }
      }

      .list__item-label {
        display: inline-block;
        width: 74px;
      }

      .list__total {
        position: relative;
        margin-top: 16px;
        padding-top: 16px;

        p {
          font-size: 16px;
          color: #a4abb8;
          font-weight: bold;
        }

        .price b {
          margin-left: 0;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -16px;
          right: 14px;
          height: 1px;
          background-color: #bbc1cc;
        }
      }
    }

    .form__footer {
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin-top: 29px;
      padding-top: 26px;

      &:after {
        content: "";
        position: absolute;
        top: 1px;
        left: -16px;
        right: -16px;
        height: 1px;
        background-color: #bbc1cc;
      }
    }
  }
}
